/*index.html*/
body.index{
    background-image: url(/Users/takebuchihayata/Downloads/website/images/muku_1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
}
h1{
    text-align: center;
    font-size: 90px;
    color: rgb(252, 221, 43);
    text-shadow: 10px 10px #000;
}
nav{
    margin-top: 0;
    width: 100%;
    height: 70px;
    padding-top: 5px;
    box-sizing: border-box;
}
ul{
    display: flex;
    text-shadow:2px 2px rgb(57, 57, 57);
}
li{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    color: rgb(252, 221, 43);
    margin-right: 35px;
    font-size: 35px;
    padding-top: 30px;
    padding-right: 125px;
    padding-left: 60px;
    text-decoration: underline;
}
a:hover{
    color: aqua;
    text-shadow:3px 3px #000;
}

/*introduction.html*/
body.introduction{
    background-image: url(/Users/takebuchihayata/Downloads/website/images/nikukyuu.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    width: 800px;
    border-color: rgb(11, 6, 25);
    background-color: whitesmoke;
}
th,td{
    padding:7px 20px 20px 20px;
}
th{
    font-size: 25px;
    color: rgb(243, 191, 127);
    text-shadow:1px 1px black;
}
td{
    font-size: 25px;
    text-align: center;
    color: rgb(201, 67, 243);
    text-shadow: 1px 1px 3px rgb(217, 116, 0);
}
h2{
    padding:100px;
    text-align: center;
    font-size: 50px;
    color: rgb(138, 242, 248);
    text-shadow: 5px 5px #000;
    border-bottom:5px 5px #000;
}

/*massage.html*/
body.massage{
    background-image: url(/Users/takebuchihayata/Downloads/website/images/massage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
fieldset{
    text-align: center;
    margin-left: 260px;
    width: 900px;
    height: 450px;
    padding-top: 80px;
    padding-bottom: 80px;
}
legend.massage{
    color:black;
    text-shadow: 2px 2px 1px aqua;
    font-size: 30px;
}
button{
    margin-top: 30px;
}

/*pictures.html*/
body.pictures{
    background-color: bisque;
}
h3{
    text-align: center;
    font-size: 70px;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 3px rgb(255, 175, 84);
}
.block{
    float: left;
    border-radius: 1em;
    width: 89%;
    height: 100%;
    border: 1px solid black;
    padding-left: 30px;
    margin-left: 50px;
}
